@import 'tailwindcss';

html,
body {
  background: #0b0b0f;
  scroll-behavior: auto; /* lenis will handle it */
}

::selection {
  background: #d6c3a3;
  color: black;
}

@theme {
  /* --color-base: #0e0e14; */
  --color-light: #f1f5f9;
  --color-primary: #1e1b2e;
  --color-surface: #151520;
  --color-accent: #d4af37;
  --color-accentSoft: #e7d3a8;
  --color-muted: #a1a1aa;
}

html.overflow-hidden,
body.overflow-hidden {
  overflow: hidden !important;
  /* Prevent layout shift from scrollbar disappearing */
  padding-right: var(--scrollbar-width, 0px);
}
